<div class="wrap-login">
    <form id="form-login" class="form-login" action="/users/registration" method="POST">
        <input type="text" name="username" placeholder="username">
        <input type="text" name="password" placeholder="password">
        <button type="submit"> Registration </button>
    </form>
    <div class="wrap-or">
        <hr class="or">
        <p class="or__desc"> OR </p>
        <hr class="or">
    </div>
    <a href="/users/login" class="or-link">
        <button class="or__btn">Login</button>
    </a>
    {{#if err}}
    <div class="wrap-or">
        <hr class="or">
        <p class="or__desc"> Имя Занято </p>
        <hr class="or">
    </div>
    {{/if}}
</div>